[package]
name = "internal-test"
version = "0.1.2-b.12"
rust-version.workspace = true
edition.workspace = true
license.workspace = true
exclude.workspace = true

[lints]
workspace = true

[dependencies]
