[workspace]
resolver = "2"
members = [
  "cargo-nextest",
  "fixture-data",
  "integration-tests",
  "nextest-filtering",
  "nextest-metadata",
  "nextest-runner",
  "workspace-hack",
]

[workspace.package]
rust-version = "1.75"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
bstr = { version = "1.10.0", default-features = false, features = ["std"] }
debug-ignore = "1.0.5"
fixture-data = { path = "fixture-data" }
globset = "0.4.14"
guppy = "0.17.7"
maplit = "1.0.2"
miette = "7.2.0"
once_cell = "1.19.0"
owo-colors = { version = "4.0.0", features = ["supports-colors"] }
newtype-uuid = { version = "1.1.0", features = ["v4"] }
nextest-metadata = { version = "0.11.3", path = "nextest-metadata" }
nextest-workspace-hack = "0.1.0"
quick-junit = "0.4.0"
swrite = "0.1.0"
target-spec = { version = "3.2.1", features = ["custom", "summaries"] }
target-spec-miette = "0.4.0"

# make backtrace + color-eyre faster on debug builds
[profile.dev.package.backtrace]
opt-level = 3

# insta and similar are recommended by insta
[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[profile.release]
# Ensure that symbols and debuginfo aren't stripped. They're useful for debugging issues with
# nextest in the field, and don't bloat up binaries too much
strip = "none"

[patch.crates-io]
nextest-workspace-hack = { path = "workspace-hack" }

# Uncomment for testing.
# [patch.crates-io]
# cargo_metadata = { path = "../cargo_metadata" }
# target-spec = { path = "../guppy/target-spec" }
# target-spec-miette = { path = "../guppy/target-spec-miette" }
# quick-junit = { path = "../quick-junit" }
