[workspace]
resolver = "2"
members = [
  "cargo-nextest",
  "integration-tests",
  "nextest-metadata",
  "nextest-runner",
  "nextest-filtering",
  "quick-junit",
  "workspace-hack",
]

[workspace.dependencies]
globset = "0.4.14"
nextest-metadata = { version = "0.10.0", path = "nextest-metadata" }
nextest-workspace-hack = "0.1.0"

# make backtrace + color-eyre faster on debug builds
[profile.dev.package.backtrace]
opt-level = 3

# insta and similar are recommended by insta
[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[patch.crates-io]
nextest-workspace-hack = { path = "workspace-hack" }

# Uncomment for testing.
# [patch.crates-io]
# cargo_metadata = { path = "../cargo_metadata" }
# target-spec = { path = "../guppy/target-spec" }
# target-spec-miette = { path = "../guppy/target-spec-miette" }
