[package]
name = "nextest-runner"
description = "Core runner logic for cargo nextest."
version = "0.4.0"
readme = "README.md"
license = "MIT OR Apache-2.0"
repository = "https://github.com/nextest-rs/nextest"
documentation = "https://docs.rs/nextest-runner"
edition = "2018"
rust-version = "1.54"

[dependencies]
aho-corasick = "0.7.18"
camino = { version = "1.0.7", features = ["serde1"] }
config = { version = "0.11.0", default-features = false, features = ["toml"] }
cargo_metadata = "0.14.2"
chrono = "0.4.19"
crossbeam-channel = "0.5.2"
ctrlc = { version = "3.2.1", features = ["termination"] }
debug-ignore = "1.0.1"
duct = "0.13.5"
guppy = "0.13.0"
# Used to find the cargo root directory, which is needed in case the user has
# added a config.toml there
home = "0.5.3"
humantime-serde = "1.0.1"
indent_write = "2.2.0"
once_cell = "1.9.0"
owo-colors = "3.2.0"
num_cpus = "1.13.1"
rayon = "1.5.1"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
strip-ansi-escapes = "0.1.1"
# For cfg expression evaluation for [target.'cfg()'] expressions
target-spec = "1.0"
# For parsing of .cargo/config.toml files
toml = "0.5.8"
twox-hash = { version = "1.6.2", default-features = false }

nextest-metadata = { version = "0.2.0", path = "../nextest-metadata" }
quick-junit = { version = "0.1.5", path = "../quick-junit" }

[dev-dependencies]
color-eyre = { version = "0.6.1", default-features = false }
indoc = "1.0.4"
maplit = "1.0.2"
pretty_assertions = "1.1.0"
proptest = "1.0.0"
proptest-derive = "0.3.0"
tempfile = "3.3.0"

[[bin]]
name = "passthrough"
path = "test-helpers/passthrough.rs"
