[package]
name = "nextest-filtering"
version = "0.3.0"
description = "Filtering DSL for cargo-nextest"
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/nextest-rs/nextest"
documentation = "https://docs.rs/nextest-filtering"
keywords = ["nextest", "test-runner"]
categories = ["development-tools::testing"]
rust-version = "1.64"

[[bin]]
name = "generate-expr-corpus"
required-features = ["internal-testing"]
# XXX: Why does cargo-readme need this?
path = "src/bin/generate-expr-corpus.rs"

[features]
default = []
# Note: Not part of the public API.
internal-testing = ["dep:proptest", "dep:test-strategy", "dep:twox-hash"]
# Uncomment and enable the feature below to get trace output for parsing. This feature must be
# called `trace` which is a bit unfortunate.
# trace = ["nom-tracable/trace"]

[dependencies]
guppy = "0.15.1"
miette = "5.5.0"
nom = "7.1.2"
nom-tracable = "0.8.0"
nom_locate = "4.0.0"
recursion = "0.3.3"
regex = "1.7.0"
regex-syntax = "0.6.28"
thiserror = "1.0.38"
nextest-workspace-hack = { version = "0.1", path = "../workspace-hack" }
proptest = { version = "1.0.0", optional = true }
test-strategy = { version = "0.2.1", optional = true }
twox-hash = { version = "1.6.3", optional = true }

[dev-dependencies]
clap = { version = "4.0.32", features = ["derive"] }
camino = "1.1.1"
test-case = "2.2.2"
proptest = { version = "1.0.0" }
test-strategy = { version = "0.2.1" }
