[package]
name = "nextest-filtering"
version = "0.1.0"
description = "Filtering DSL for cargo-nextest"
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/nextest-rs/nextest"
documentation = "https://docs.rs/nextest-filtering"
keywords = ["nextest", "test-runner"]
categories = ["development-tools::testing"]
rust-version = "1.56"

[features]
default = []
# Must be called `trace` which is a bit unfortunate
trace = ["nom-tracable/trace"]

[dependencies]
guppy = "0.14.1"
miette = "4.7.1"
nom = "7.1.1"
nom-tracable = "0.8.0"
nom_locate = "4.0.0"
regex = "1.5.5"
regex-syntax = "0.6.25"
thiserror = "1.0.31"
nextest-workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies]
clap = { version = "3.1.18", features = ["derive"] }
camino = "1.0.8"
