:root {
    --md-status--experimental: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 19a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1c0-.21-.07-.41-.18-.57L13 8.35V4h-2v4.35L5.18 18.43c-.11.16-.18.36-.18.57m1 3a3 3 0 0 1-3-3c0-.6.18-1.16.5-1.63L9 7.81V6a1 1 0 0 1-1-1V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1a1 1 0 0 1-1 1v1.81l5.5 9.56c.32.47.5 1.03.5 1.63a3 3 0 0 1-3 3H6m7-6 1.34-1.34L16.27 18H7.73l2.66-4.61L13 16m-.5-4a.5.5 0 0 1 .5.5.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5.5.5 0 0 1 .5-.5Z"></path></svg>');
    --md-primary-fg-color: #045;
    --md-primary-fg-color--dark: #045;
}

.md-status--experimental::after {
    mask-image: var(--md-status--experimental);
    -webkit-mask-image: var(--md-status--experimental);
}

.md-typeset .admonition.experimental,
.md-typeset details.experimental {
  border-color: rgb(43, 155, 70);
}
.md-typeset .experimental > .admonition-title,
.md-typeset .experimental > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .experimental > .admonition-title::before,
.md-typeset .experimental > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-status--experimental);
          mask-image: var(--md-status--experimental);
}

/* Custom colors for light output */
[data-md-color-scheme="default"] {
    --nextest-color-blend: hsl(180, 100%, 5%);
    --nextest-color-blend-amount: 50%;
    --ansi-red: color-mix(in srgb, #ff5555, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    --ansi-green: color-mix(in srgb, #50fa7b, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    /* ansi-blue is dark enough already */
    --ansi-blue: #265285;
    --ansi-yellow: color-mix(in srgb, #f1fa8c, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    --ansi-magenta: color-mix(in srgb, #ff79c6, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    --ansi-cyan: color-mix(in srgb, #8be9fd, var(--nextest-color-blend) var(--nextest-color-blend-amount));

    --md-accent-fg-color: hsl(350, 45%, 40%);
    --md-typeset-a-color: hsl(192, 29%, 40%);
}

/* Custom colors for dark output */
[data-md-color-scheme="slate"] {
    --nextest-color-blend: hsl(180, 100%, 5%);
    --nextest-color-blend-amount: 20%;
    --ansi-red: color-mix(in srgb, #ff5555, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    --ansi-green: color-mix(in srgb, #50fa7b, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    /* ansi-blue needs to be made lighter */
    --ansi-blue: color-mix(in srgb, #265285, hsl(180, 100%, 95%) var(--nextest-color-blend-amount));
    --ansi-yellow: color-mix(in srgb, #f1fa8c, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    --ansi-magenta: color-mix(in srgb, #ff79c6, var(--nextest-color-blend) var(--nextest-color-blend-amount));
    --ansi-cyan: color-mix(in srgb, #8be9fd, var(--nextest-color-blend) var(--nextest-color-blend-amount));

    --md-hue: 215;
    --md-accent-fg-color: hsl(350, 45%, 60%);
    --md-typeset-color: hsl(330, 20%, 90%);
    --md-typeset-a-color: hsl(192, 29%, 60%);
}

.md-grid {
    /* Just enough for 100 character output */
    max-width: 70rem;
}

.md-content dt {
    font-weight: bold;
}

.md-content .compact dl {
    display: grid;
    grid-template: auto / auto auto;
    width: fit-content;
    column-gap: 0.8em;
}

.md-content .compact dt {
    grid-column-start: 1;
}

/* .md-content .compact dd::before {
    content: "";
    margin-right: 0.2em;
} */

.md-content .compact dd {
    grid-column-start: 2;
    margin: 0;
}

:root {
    --md-text-font: "Inter", "Helvetica Neue", "Arial", sans-serif;
    --md-code-font: "Source Code Pro", monospace;
    font-feature-settings: "ss01", "ss03";
    font-variant-ligatures: common-ligatures;
    letter-spacing: -0.007em;
}

@supports (font-variation-settings: normal) {
    :root {
        --md-text-font: 'Inter var', "Helvetica Neue", "Arial", sans-serif;
    }
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-weight: 325;
    font-feature-settings: "ss01", "ss03", "cv11";
}

.md-typeset h1 {
    letter-spacing: -0.041em;
}

.md-typeset h2 {
    letter-spacing: -0.030em;
}

.md-typeset h3 {
    letter-spacing: -0.028em;
}

/* hide the latest tag because it always gets truncated -- ideally we can fetch get.nexte.st */
.md-source__fact--version {
    display: none;
}

.mdx-badge {
    font-size: 0.85em;
}

.mdx-badge__right {
    float: right;
    margin-left: 0.35em;
}

.mdx-badge__icon {
    padding: 0.2rem;
    background: var(--md-accent-fg-color--transparent);
    border-start-start-radius: 0.1rem;
    border-end-start-radius: 0.1rem;
}

.mdx-badge__icon:last-child {
    border-radius: 0.1em;
}

.mdx-badge__text {
    padding: 0.2rem 0.3rem;
    border-start-end-radius: 0.1rem;
    border-end-end-radius: 0.1rem;
    box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
}

.md-typeset div#nextest-features ul {
    /* By default mkdocs sets up a flow-root for lists. Disable that for nextest's features. */
    display: flow;
}

#nextest-cover {
    float: right;
    width: 250px;
    padding-left: 1em;
}

@media only screen and (max-width: 480px) {
    #nextest-cover {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 80%;
        max-width: 250px;
    }
}
