[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[[bin]]
name = "cargo-nextest-dup"
path = "test-helpers/cargo-nextest-dup.rs"

[dependencies]
cargo-nextest = { path = "../cargo-nextest" }
# we don't use the tracing support
color-eyre = { version = "0.6.2", default-features = false }
clap = { version = "4.1.11", features = ["derive", "env"] }
enable-ansi-support = "0.2.1"
nextest-workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies]
camino = "1.1.4"
cfg-if = "1.0.0"
pathdiff = { version = "0.2.1", features = ["camino"] }
nextest-metadata = { version = "=0.8.0", path = "../nextest-metadata" }
once_cell = "1.17.1"
tempfile = "3.4.0"
regex = "1.7.1"
serde_json = "1.0.94"
insta = { version = "1.28.0", default-features = false }
