on:
  push:
    branches: [main, auto, canary]
  pull_request:
    branches:
      - main

name: CI
env:
  RUSTFLAGS: -D warnings
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2
      - name: Lint (clippy)
        run: cargo clippy --all-features --all-targets
      - name: Lint (rustfmt)
        run: cargo xfmt --check
      - name: Install cargo readme
        uses: taiki-e/install-action@271014ec0fe73d05f4206c04b4392ad895d8f0e3 # v2
        with:
          tool: cargo-readme
      - name: Run cargo readme
        run: ./scripts/regenerate-readmes.sh
      - name: Check for differences
        run: git diff --exit-code

  build-rustdoc:
    name: Build documentation
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2
      - name: Build rustdoc
        run: cargo doc --all-features --workspace
  
  nextest-metadata-msrv:
    name: Build nextest-metadata on MSRV
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust-version: ["1.78"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
      - name: Build nextest-metadata-msrv
        run: cd fixtures/nextest-metadata-msrv && cargo build
      # It would be nice to run tests, but it seems hard to do that without some
      # horrible patching of the various Cargo.toml files. It's also not really
      # necessary, since we already run tests in the "Build and test" job below.

  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
        # 1.88 is the MSRV
        rust-version: ["1.88", stable]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2
        with:
          # Matrix instances (other than OS) need to be added to this explicitly
          key: ${{ matrix.rust-version }}
      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest
      - name: Build nextest-metadata
        run: cargo build --package nextest-metadata
      - name: Build cargo-nextest without self-update
        run: cargo build --package cargo-nextest --no-default-features --features default-no-update
      - name: Build cargo-nextest
        run: cargo build --package cargo-nextest
      - name: Build all targets
        run: cargo build --all-targets
      - name: Build all targets with all features
        run: cargo build --all-targets --all-features
      - name: Doctests
        run: cargo test --doc
      - name: Test with locally built nextest
        run: cargo local-nt run --profile ci

      - name: Upload results
        # Run this step even if the test step fails
        if: "!cancelled()"
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: target/nextest/ci/junit.xml
          # Provide your Trunk organization slug.
          org-slug: nextest-rs
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_API_TOKEN }}
        continue-on-error: true
      
      - name: Upload JUnit report
        # Run this step even if the test step fails. Upload it right now because
        # we're most interested in the JUnit report generated by the local
        # version of nextest, not the latest release.
        if: "!cancelled()"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: junit-${{ matrix.os }}-${{ matrix.rust-version }}.xml
          path: |
            target/nextest/ci/junit.xml
          if-no-files-found: error

      - name: Test with latest nextest release
        run: cargo nextest run --profile ci
      - name: Test without double-spawning
        if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm' || matrix.os == 'macos-latest' }}
        env:
          NEXTEST_DOUBLE_SPAWN: 0
        run: cargo local-nt run --profile ci

      - name: Test without rustup wrappers
        env:
          CARGO_NEXTEST: target/debug/cargo-nextest
          RUSTUP_AVAILABLE: 1
        shell: bash
        run: ./scripts/nextest-without-rustup.sh run --profile ci

      - name: Upload nextest binary
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cargo-nextest-${{ matrix.os }}-${{ matrix.rust-version }}
          path: |
            target/debug/cargo-nextest
            target/debug/cargo-nextest.exe
          if-no-files-found: error

  test-archive-target-runner:
    name: Test archives with a target runner
    # We need at least 24.04 for updated wine and mingw. 22.04 has a wine that's too old (and the
    # official WineHQ PPA breaks every so often).
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: x86_64-pc-windows-gnu
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2
      - name: Install wine and gcc-mingw-w64-x86-64-win32
        run: |
          sudo apt-get update
          sudo apt-get install wine gcc-mingw-w64-x86-64-win32
      - name: Build cargo-nextest
        run: cargo build --package cargo-nextest
      - name: Archive test fixtures
        env:
          CARGO_NEXTEST: target/debug/cargo-nextest
          RUSTUP_AVAILABLE: 1
        run: |
          ./scripts/nextest-without-rustup.sh archive --manifest-path fixtures/nextest-tests/Cargo.toml \
            --target x86_64-pc-windows-gnu --archive-file target/fixture-archive.tar.zst \
            --package cdylib-example --package nextest-derive

      # This ensures that for target binaries, we always use the libdir in the archive, never the
      # one installed by rustup.
      - name: Remove x86_64-pc-windows-gnu target from rustup
        run: rustup target remove x86_64-pc-windows-gnu

      - name: Run test fixtures
        env:
          CARGO_TARGET_X86_64_PC_WINDOWS_GNU_RUNNER: wine
        run: cargo local-nt run --archive-file target/fixture-archive.tar.zst

      # Completely uninstall rustup -- this is similar to running an archive on a machine without
      # cargo.
      - name: Uninstall rustup
        run: rustup self uninstall -y

      - name: Run test fixtures without rustup wrappers
        env:
          CARGO_TARGET_X86_64_PC_WINDOWS_GNU_RUNNER: wine
          CARGO_NEXTEST: target/debug/cargo-nextest
        run: ./scripts/nextest-without-rustup.sh run --archive-file target/fixture-archive.tar.zst

      # Upload the archive for use in the next job.
      - name: Upload archive
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: fixture-archive
          path: target/fixture-archive.tar.zst
          if-no-files-found: error

  test-archive-runner-dest:
    name: Test archives with a runner (destination)
    strategy:
      matrix:
        data:
          - os: ubuntu-24.04
            # The artifact name is set by the upload job, which is ubuntu-latest.
            artifact-name: ubuntu-latest
          - os: windows-latest
            artifact-name: windows-latest
    runs-on: ${{ matrix.data.os }}
    needs:
      - test-archive-target-runner
      - build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Download nextest binary
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: cargo-nextest-${{ matrix.data.artifact-name }}-stable
          path: nextest-bin
      - name: Download archive
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: fixture-archive
          path: fixture-archive
      - name: Run test fixtures (host)
        if: ${{ matrix.data.artifact-name == 'ubuntu-latest' }}
        env:
          CARGO_NEXTEST: nextest-bin/cargo-nextest
        run: |
          chmod +x $CARGO_NEXTEST
          ./scripts/nextest-without-rustup.sh run \
            --archive-file fixture-archive/fixture-archive.tar.zst \
            --workspace-remap $GITHUB_WORKSPACE/fixtures/nextest-tests \
            -E 'platform(host)'
      - name: Run test fixtures (target)
        if: ${{ matrix.data.artifact-name == 'windows-latest' }}
        shell: bash
        env:
          CARGO_NEXTEST: nextest-bin/cargo-nextest.exe
        run: |
          ./scripts/nextest-without-rustup.sh run \
            --archive-file fixture-archive/fixture-archive.tar.zst \
            --workspace-remap $GITHUB_WORKSPACE/fixtures/nextest-tests \
            -E 'platform(target)'
