on:
  push:
    branches: [ main, auto, canary ]
  pull_request:
    branches:
      - main

name: CI

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@c5ed9ba6b7e1bb8aff90d43acd2f0af4990fa57c
      - name: Lint (clippy)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --all-targets
      - name: Lint (rustfmt)
        uses: actions-rs/cargo@v1
        with:
          command: xfmt
          args: --check
      - name: Install cargo readme
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-readme
          version: latest
      - name: Run cargo readme
        run: ./scripts/regenerate-readmes.sh
      - name: Check for differences
        run: git diff --exit-code

  build-rustdoc:
    name: Build documentation
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
      fail-fast: false
    env:
      RUSTDOCFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@c5ed9ba6b7e1bb8aff90d43acd2f0af4990fa57c
      - name: Build rustdoc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all-features --workspace

  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        # 1.59 is the MSRV
        rust-version: [ 1.59, stable ]
        # no-default-features means no self-update, all-features means
        # with self-update
        features: [ --no-default-features, --all-features ]
      fail-fast: false
    env:
      RUSTFLAGS: -D warnings
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust-version }}
          override: true
      - uses: Swatinem/rust-cache@c5ed9ba6b7e1bb8aff90d43acd2f0af4990fa57c
        with:
          # Matrix instances (other than OS) need to be added to this explicitly
          key: ${{ matrix.rust-version }}-${{ matrix.features }}
      - name: Build quick-junit
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package quick-junit ${{ matrix.features }}
      - name: Build nextest-metadata
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package nextest-metadata ${{ matrix.features }}
      - name: Build cargo-nextest
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package cargo-nextest ${{ matrix.features }}
      - name: Build all targets
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets ${{ matrix.features }}
      - name: Doctests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --doc ${{ matrix.features }}
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - name: Test with locally built nextest
        uses: actions-rs/cargo@v1
        with:
          command: local-nt
          args: run ${{ matrix.features }} --profile ci
      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest
      - name: Test with latest nextest release
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run ${{ matrix.features }} --profile ci
