on:
  push:
    branches:
      - master
      - main

name: Docs

jobs:
  docs:
    name: Build and deploy documentation
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@a22603398250b864f7190077025cf752307154dc # v2
      - name: Install static-sitemap-cli
        run: npm install static-sitemap-cli
      - name: Build rustdoc
        run: cargo doc --all-features --workspace
      - name: Install mdbook
        uses: taiki-e/install-action@2f4c386a81aeab009d470320dfc6e0930ee4e064 # v2
        with:
          tool: mdbook@0.4
      - name: Run mdbook
        run: |
          cd site
          mdbook build
      - name: Generate sitemap
        run: |
          cd site/output
          npx sscli --base https://nexte.st
      - name: Organize
        run: |
          rm -rf target/gh-pages
          mv site/output target/gh-pages
          mv target/doc target/gh-pages/rustdoc
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: target/gh-pages
          single-commit: true
