on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Docs
env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  docs:
    name: Build and deploy documentation
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # The full history is required to make mkdocs' git-revision-date-localized plugin work
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Install nextest for help text in docs
        uses: taiki-e/install-action@8cd2ac21dc357ca7dd807fe294d11e9ef84f60ec # v2.62.53
        with:
          tool: nextest
      - name: Install uv
        uses: eifinger/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: true
      - name: Build rustdoc
        run: ./scripts/build-rustdoc.sh
      - name: Build site
        run: ./scripts/build-site.sh
      - name: Organize
        run: |
          rm -rf target/gh-pages
          mv site/output target/gh-pages
          mv target/doc target/gh-pages/rustdoc
      - name: Publish
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy target/gh-pages --project-name=nextest
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
