on:
  push:
    branches:
      - master
      - main

name: Docs

jobs:
  docs:
    name: Build and deploy documentation
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Install static-sitemap-cli
        run: npm install static-sitemap-cli
      - name: Build rustdoc
        run: cargo doc --all-features --workspace
      - name: Install mdbook
        uses: baptiste0928/cargo-install@v2
        with:
          crate: mdbook
          version: 0.4
      - name: Run mdbook
        run: |
          cd site
          mdbook build
      - name: Generate sitemap
        run: |
          cd site/output
          npx sscli --base https://nexte.st
      - name: Organize
        run: |
          rm -rf target/gh-pages
          mv site/output target/gh-pages
          mv target/doc target/gh-pages/rustdoc
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: gh-pages
          folder: target/gh-pages
          single-commit: true
