on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Docs
env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  docs:
    name: Build and deploy documentation
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          # The full history is required to make mkdocs' git-revision-date-localized plugin work
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
      - name: Install nextest for help text in docs
        uses: taiki-e/install-action@nextest
      - name: Install uv
        uses: eifinger/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true
      - name: Build rustdoc
        run: ./scripts/build-rustdoc.sh
      - name: Build site
        run: ./scripts/build-site.sh
      - name: Organize
        run: |
          rm -rf target/gh-pages
          mv site/output target/gh-pages
          mv target/doc target/gh-pages/rustdoc
      - name: Publish
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy target/gh-pages --project-name=nextest
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
